doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='')

        title Jayabrata Dhakai

        link(rel='icon', type='image/x-icon', href='assets/img/favicon.ico')

        // Font Awesome icons (free version)
        script(src='https://use.fontawesome.com/releases/v6.3.0/js/all.js', crossorigin='anonymous')

        // Google fonts
        link(href='https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700', rel='stylesheet', type='text/css')
        link(href='https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i', rel='stylesheet', type='text/css')

        // Core theme CSS (includes Bootstrap)
        link(href='css/styles.css', rel='stylesheet')

    body#page-top

        // Navigation
        nav#sideNav.navbar.navbar-expand-lg.navbar-dark.bg-primary.fixed-top
            a.navbar-brand.js-scroll-trigger(href='#page-top')
                span.d-block.d-lg-none Jayabrata Dhakai
                span.d-none.d-lg-block
                    img.img-fluid.img-profile.rounded-circle.mx-auto.mb-2(src='assets/img/profile.jpg', alt='...')
            button.navbar-toggler(type='button', data-bs-toggle='collapse', data-bs-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
                span.navbar-toggler-icon
            #navbarResponsive.collapse.navbar-collapse
                ul.navbar-nav
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#about') About
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#experience') Experience
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#education') Education
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#skills') Skills
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#interests') Interests
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#certifications') Certifications

        // Page Content
        .container-fluid.p-0

            // About
            section#about.resume-section
                .resume-section-content
                    h1.mb-0
                        | Jayabrata 
                        span.text-primary Dhakai
                    .subheading.mb-5
                        | Whitefield · Bengaluru, Karnataka 560066 · (+91) 95XXXXXXXX · 
                        a(href='mailto:jayabratadhakai@gmail.com') jayabratadhakai@gmail.com
                    p.lead.mb-5
                        | I am a Computer Science graduate with overall experience of almost 8 years in developing Enterprise Custom Applications for global customers. I'm capable of readily adjusting to ever-changing technologies and the challenges that come with their evolution, in order to meet the demands of the business.
                    .social-icons
                        a.social-icon(href='https://www.linkedin.com/in/jdhakai/')
                            i.fab.fa-linkedin-in
                        a.social-icon(href='https://github.com/jdhakai1994')
                            i.fab.fa-github

            hr.m-0

            // Experience
            section#experience.resume-section
               .resume-section-content
                    h2.mb-5 Experience

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Technical Manager
                            .subheading.mb-3 Standard Chartered GBS
                            p
                                | Working as a ReactJS Developer on an application which would provide Mortgage Loans to Singapore Customers.
                            p
                                | Worked as a Java Developer for CCPL Partnership - It's an initiative to provide co-branded credit cards to customers via Alipay App, like Q Credit Card.
                        .flex-shrink-0
                            span.text-primary April 2022 - Present

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Technical Lead
                            .subheading.mb-3 Standard Chartered GBS
                            p
                                | Worked as an Angular Developer for COS Evergreen. COS system is used in SCB Hong Kong branches to offer credit cards and loans. Evergreen was a initiative to upgrade legacy monolithic tech stack from Struts 1.0 and JSP to Spring Boot and Angular.
                            p
                                | Implemented JWT Token based authentication mechanism using Spring Security in COS.
                        .flex-shrink-0
                            span.text-primary May 2019 - April 2022

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 IT Consultant
                            .subheading.mb-3 Oracle India Pvt Ltd
                            p
                                | Worked as Developer on Integrator - Integrator is a custom solution which provided a form based interface to orchestrate a connectivity between two systems. Generally used by on-premise systems to connect to newly migrated cloud systems. The frontend was built on Oracle JET and the backend was built on Java EE.
                        .flex-shrink-0
                            span.text-primary October 2017 - April 2019

                    .d-flex.flex-column.flex-md-row.justify-content-between
                        .flex-grow-1
                            h3.mb-0 Assistant System Engineer
                            .subheading.mb-3 Tata Consultancy Services
                            p
                                | Developed Capacity Planner - This is a custom standalone Java program developed to collate system logs and represent stats like hits, success and failures in the form of charts using JFreeCharts. Effectively removing human intervention and reducing man hours by a staggering 900%.
                        .flex-shrink-0
                            span.text-primary October 2015 - October 2017

            hr.m-0

            // Education
            section#education.resume-section
                .resume-section-content
                    h2.mb-5 Education

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 National Institute of Technology Durgapur
                            .subheading.mb-3 Bachelor of Technology
                            div Computer Science & Engineering
                            p GPA: 7.91
                        .flex-shrink-0
                            span.text-primary July 2011 - May 2015

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 St Stephen's School, Dum Dum
                            .subheading.mb-3 Indian School Certificate (I.S.C.)
                            p Percentage: 91.5%
                        .flex-shrink-0
                            span.text-primary April 2009 - March 2011

                    .d-flex.flex-column.flex-md-row.justify-content-between
                        .flex-grow-1
                            h3.mb-0 Stewart School, Bhubaneshwar
                            .subheading.mb-3 Indian Council for Secondary Education (I.C.S.E.)
                            p Percentage: 89.5%
                        .flex-shrink-0
                            span.text-primary July 2005 - March 2009

            hr.m-0

            // Skills
            section#skills.resume-section
                .resume-section-content
                    h2.mb-5 Skills
                    .subheading.mb-3 Programming Languages & Third Party Libraries
                    ul.list-inline.dev-icons
                        li.list-inline-item
                            i.fab.fa-java
                        li.list-inline-item
                            i.fab.fa-js-square
                        li.list-inline-item
                            i.fab.fa-react                        
                        li.list-inline-item
                            i.fab.fa-angular
                        li.list-inline-item
                            i.fab.fa-html5
                        li.list-inline-item
                            i.fab.fa-css3-alt
                        li.list-inline-item
                            i.fab.fa-bootstrap
                    .subheading.mb-3 Other Tools
                    ul.list-inline.dev-icons
                        li.list-inline-item
                            i.fab.fa-square-git
                        li.list-inline-item
                            i.fab.fa-node
                        li.list-inline-item
                            i.fab.fa-npm
                        li.list-inline-item
                            i.fab.fa-confluence
                        li.list-inline-item
                            i.fab.fa-jira
                        li.list-inline-item
                            i.fab.fa-jenkins
                        li.list-inline-item
                            i.fab.fa-slack
                        li.list-inline-item
                            i.fab.fa-figma
                        li.list-inline-item
                            i.fab.fa-stack-overflow
                        
                    

            hr.m-0

            // Interests
            section#interests.resume-section
                .resume-section-content
                    h2.mb-5 Interests
                    p
                        | Other than my job, I prefer spending most of my time with my family and friends. I like tech and I love vacations and I spend most of my money on these two.
                    p.mb-0
                        | I'm a football fanatic, an Arsenal supporter. I watch football then I watch the post-match analysis and then I follow all the youtube videos and podcasts related to the same football match.

            hr.m-0

            // Certifications
            section#certifications.resume-section
                .resume-section-content
                    h2.mb-5 Certifications
                    ul.fa-ul.mb-0
                        li
                            span.fa-li
                                i.fas.fa-trophy.text-warning
                            | AWS Certified Cloud Practitioner
                        li
                            span.fa-li
                                i.fas.fa-trophy.text-warning
                            | Udacity Certified Android Developer
                        
        // Bootstrap core JS
        script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js')

        // Core theme JS
        script(src='js/scripts.js')